body{
    background-color: rgb(182, 182, 182);
}
.div-pai{
    display: flex;
    padding-left: 50px;
    padding-top: 70px;

}
.Formulário{
    background-color: white;
    border-radius: 27px;
    width: 450px;
    height: 500px; 
    
}
.Dados{
    margin-left: 20px;
    height: 500px;
    width: 450px;
    background-color: white;
    border-radius: 27px;
}
.items-formi{
    margin: 5px;
    margin-top: 40px;
}
.nome{
    width: 400px;
}
.data-de-nasc{
    width: 400px;
}
.Comida-preferida{
    width: 400px;
}
.salvar0{
    border-radius: 10px;
    width: 380px;
    background-color: green;
    color: white;
}
.visualizar0{
    border-radius: 10px;
    width: 380px;
    background-color: blue;
    color: white;
}.items-cadastr{
    margin: 5px;
    margin-top: 40px;
}