body{
    background-color: rgb(182, 182, 182);
}
.div-pai{
    display: flex;
    padding-left: 50px;
    margin-left: 290px;
    padding-top: 105px;

}
.Formulário{
    background-color: white;
    border-radius: 27px;
    width: 450px;
    height: 500px; 
    
}
.Dados{
    margin-left: 40px;
    height: 500px;
    width: 450px;
    background-color: white;
    border-radius: 27px;
    overflow-y: auto; /* serve para criar uma barra de rolagem*/
}
.items-formi{
    margin: 10px;
    margin-top: 40px;
}
.nome{
    width: 400px;
}
.data-de-nasc{
    width: 400px;
}
.Comida-preferida{
    width: 400px;
}
.salvar0{
    border-radius: 10px;
    width: 380px;
    background-color: green;
    color: white;
}
.visualizar0{
    border-radius: 10px;
    width: 380px;
    background-color: blue;
    color: white;
}.items-cadastr{
    margin: 10px;
    margin-top: 40px;
}
li{
    margin: 10px, 0px;
    padding: 10px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
}
.boxfight{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}